.Header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: snow;
    background-color: dimgrey;
}

.Header a {
    text-decoration: none;
    color: snow;
    padding: 0 10px;
}

.Header a[class='active'] {
    color: red;
}

.search_bar {
    width: 50%;
    display: flex;
    justify-content: center;
}
    form {
        display: flex;
        justify-content: center;
        width: 70%;
    }
        button{
            padding:0px 10px ;
            font-size: 20px;
            cursor:pointer;
            height: 40px;
            background-image: image(BsSearch);
        }

