body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.App-light{
  background-color: azure;
  color: black;
}

.App-dark{
  background-color:black;
  color: lavender;

}

.mainlayout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.page{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.logo {
  margin-left: 10%;
  font-size: 60px;
  color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.on{
  color: cyan;
}

.off{
  color: blanchedalmond;
}
 a, Link {
  text-decoration: none;
}

.toggle_theme {
  margin-left: 92%;
  margin-top: 2%;
  width: 50px;
  height: 30px;
border-radius:40%;
  background-color: black;
  background-image: linear-gradient(to right, black , white);
  transform: rotateY(180deg);
}
.toggle_theme:active{
  background-color: white;
  background-image: linear-gradient(to right,white, black);
}

.user{
  border: 1px solid green;
  font-family: Copperplate, Papyrus, fantasy;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  display: flex;
 align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-left: 92%;
}

.movie_list_container {
  width: 78%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 skyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

.genres_wrap {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}
.genre_button {
  padding: 0;
  margin: 2px;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  color: darkslategrey;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 14px;
  font-weight: bold;
  background-color: burlywood;
  opacity: 70%;

}
.genre_button:hover {
  color: grey;
  border-color: grey;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.genre_button:focus{
  background-color: greenyellow;
  color: azure;
}
.filter_button{

width: 120px;
  margin: 2px;
  font-size: 24px;
  color: olive;
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bolder;
  background:none;
  border: none;
}
.filter_button:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}


.movie_image{
  width: 240px;
  height: 270px;
  border-radius: 8%;
}
.movie_card {
  margin: 20px;
  width: 240px;
  height:400px;
  background-color:dimgray;
  border: 1px solid black;
  border-radius: 8%;
  cursor:pointer;
  transition: all 0.3s;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


  .movie_card:hover{
  transform: scale(1.1);
  transition: all 0.3s;
   }

  .pagination{
    width: 33%;
    margin: 2% 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pagination button{
    color: silver;
    border: none;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

  }

  .movieInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
    background: none;
    height: 100vh;
    position: relative;
  }

  .movieInfo img{
margin:40px;
    box-shadow: 0 4px 8px 2px grey;
  }
  .movie_about{
    width: 40%;
    font-size: 18px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .movie_title{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .movie_overview {
    width: 100%;
    height: 100px;
    padding: 10px 0 0 0 ;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;


  }

  .star-rating{
    position: initial;
    top: 3px;
    right: 5px;
    padding: 6px;
    font-size: 22px;

    border-radius: 25px;
    color: orangered;
  }
